.confirm-dialog {
  [class~='p-dialog-mask'] {
    background-color: var(--black-transparent);
    padding: 2rem;
    text-align: center;

    [class~='p-dialog'] {
      border: 2px solid var(--grey);
      border-radius: 0.2em;
      background: var(--light-black);
      padding: 2em;
      text-align: center;

      [class~='p-dialog-header'] {
        display: none;
      }

      [class~='p-dialog-content'] {
        margin-bottom: 2em;
        color: var(--white);
      }

      [class~='p-dialog-footer'] {
        align-self: center;

        // duplicate code warning is unavoidable here
        // -> no direct access to the button for now
        //noinspection DuplicatedCode
        [class~='p-button'] {
          cursor: pointer;
          box-shadow: 0 0 2px var(--white);
          border: none;
          border-radius: 0.2em;
          background: var(--black);
          padding: 1em;
          min-width: 4rem;
          color: var(--white);
          font-weight: bold;

          &:first-child {
            margin-right: 3rem;
          }

          &:hover {
            box-shadow: 0 0 2px var(--grey);
            color: var(--grey);
          }

          // deactivate blue focus color
          &:focus-visible {
            outline: inherit;
          }
        }
      }
    }
  }
}
