.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  pre {
    font-family: inherit !important;
  }

  article {
    box-shadow: 0 0 2px var(--grey);
    background-color: var(--black);
    padding: 1rem;
    font-size: clamp(0.8rem, 3vw, 1rem);

    a {
      color: var(--white);
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--grey);

  h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  small {
    padding-left: 0.5rem;
    text-align: right;
  }
}

.code {
  box-shadow: 0 0 1px var(--grey);
  background: var(--medium-black) !important;
  padding: 0.25rem 0 !important;

  span {
    background: var(--medium-black);
    font-family: var(--jetbrains-mono);
  }
}

.code-inline {
  vertical-align: bottom;
  box-shadow: 0 0 1px var(--grey);
  background-color: var(--medium-black);
  padding: 0 0.5rem;
  font-family: var(--jetbrains-mono);
}

.code-wrapped {
  max-height: 300px;
  overflow: hidden !important;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 1px var(--grey), 0 -1px 48px 48px var(--medium-black);
    background-color: var(--medium-black);
    width: 100%;
    height: 2rem;
    content: '';
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    vertical-align: center;
    transform: translate(-50%, 0);
    cursor: pointer;
    padding-bottom: 0.25rem;
    content: 'Click to expand';
    font-family: inherit;
  }
}

@media screen and (max-width: 480px) {
  .header {
    display: block;

    small {
      padding-left: 0;
    }
  }
}
