:root {
  --black: hsla(0, 0%, 7%, 1);
  --black-transparent: hsla(0, 0%, 7%, 0.8);
  --black-high-transparent: hsla(0, 0%, 7%, 0.5);
  --medium-black: hsla(0, 0%, 9.5%, 1);
  --light-black: hsla(0, 0%, 12%, 1);
  --grey: hsla(0, 0%, 50%, 1);
  --white: hsla(0, 0%, 96%, 1);
  --soft-white: hsla(0, 0%, 96%, 0.8);
}
