.container {
  box-shadow: 0 -2px 0 var(--grey);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 0;
  height: 4rem;

  p {
    margin-right: 1rem;
    text-align: center;
  }

  a {
    margin: 0 1rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
      transition: opacity 0.5s ease;
      content: attr(data-alt);
      position: absolute;
      font-size: 0.8rem;
      color: var(--white);
      border: 1px solid var(--grey);
      background: var(--light-black);
      z-index: 1;
      padding: 0.25rem;
      top: -0.8rem;
      transform: translate(-50%, -50%);
      border-radius: 2px;
    }

    img {
      &:hover {
        filter: brightness(52%);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 5rem;
    p {
      width: min-content;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: block;
    height: 6.5rem;

    p {
      width: 100%;
      margin: 0 0 1rem 0;
    }

    a {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

@media screen and (max-width: 368px) {
  .container {
    height: 8rem;
  }
}
