.no-scroll-select {
  overflow: hidden;
  user-select: none;
}

.container {
  --g1: rgb(170, 0, 0);
  --g2: rgb(164, 147, 151);
  position: relative;
  opacity: 1;
  transition: opacity 0.75s ease;
  height: 100%;

  .toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: top 0.75s ease;
    cursor: pointer;
    background: var(--black-high-transparent);
    padding: 0.2em;
  }

  .controls {
    display: flex;
    position: absolute;
    top: 0;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter: blur(2px);
    transition: top 1s ease;
    outline: 2px solid var(--grey);
    box-shadow: 0 2px 2px -2px var(--black-transparent);
    border-top: none;
    background: var(--black-high-transparent);
    padding-bottom: 1em;
    width: 100%;
    overflow: hidden;
    text-align: center;

    button {
      cursor: pointer;
      margin: 2em;
      box-shadow: 0 0 2px var(--white);
      border: none;
      border-radius: 0.2em;
      background: var(--black);
      padding: 1em;
      min-width: 60.5px;
      color: var(--white);
      font-weight: bold;

      &:hover {
        box-shadow: 0 0 2px var(--grey);
        color: var(--grey);
      }
    }

    p {
      margin: 2rem 0 1rem;
      flex-basis: 100%;
      font-weight: bold;
    }

    img {
      position: absolute;
      cursor: pointer;
      right: 1rem;
    }

    img:first-of-type {
      top: 1rem;
    }

    img:last-of-type {
      bottom: 1rem;
    }

    a {
      color: var(--white);
      text-decoration: underline;
    }
  }

  .hidden {
    top: -500px;
    transition: top 1s ease;
    padding-bottom: 0;
  }

  .game-field {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: background-pan 10s linear infinite;
    margin: 0 auto;
    background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
    background-size: 200%;
    width: 100%;
    height: 100%;

    .row {
      display: flex;
      justify-content: space-evenly;

      .cell {
        flex-shrink: 0;
        cursor: pointer;
        margin: 1px;
        background: var(--black);
        width: 16px;
        height: 16px;

        &:hover {
          background: var(--black-transparent);
        }
      }

      .active,
      .active:hover {
        background: transparent;
      }
    }
  }
}

.loading {
  opacity: 0;
  background-color: var(--light-black);
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;

  .game-field {
    height: 100vh;
  }
}

.layout-shift {
  height: calc(100vh - 7rem);
}

@media screen and (max-width: 600px) {
  .layout-shift {
    height: calc(100vh - 8rem);
  }

  .container {
    .controls {
      flex-direction: column;
      align-items: flex-start;

      button {
        margin: 1rem 2rem;
        width: 6rem;

        &:hover {
          box-shadow: 0 0 2px var(--white);
          color: inherit;
        }
      }

      p {
        flex-basis: auto;
        margin: 1rem 2rem 0.5rem;
        padding: 0;
      }

      small {
        display: inline;
        margin: 1rem 2rem 0.5rem;
        padding-right: 4rem;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .layout-shift {
    height: calc(100vh - 9.5rem);
  }
}

@media screen and (max-width: 368px) {
  .layout-shift {
    height: calc(100vh - 11rem);
  }
}

@keyframes background-pan {
  from {
    background-position: 0 center;
  }

  to {
    background-position: -200% center;
  }
}
