.container {
  --g1: rgb(170, 0, 0);
  --g2: rgb(164, 147, 151);
  position: relative;
  opacity: 1;
  transition: opacity 0.75s ease;

  .toggle {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    transition: top 0.75s ease;
    cursor: pointer;
    background: var(--black-high-transparent);
    padding: 0.5em;
  }

  .controls {
    display: flex;
    position: absolute;
    top: 0;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter: blur(2px);
    transition: top 0.75s ease;
    box-shadow: 0 2px 2px -2px var(--black-transparent);
    border: 2px solid var(--grey);
    border-top: none;
    background: var(--black-high-transparent);
    padding-bottom: 1em;
    width: 100%;
    overflow: hidden;
    text-align: center;

    button {
      cursor: pointer;
      margin: 2em;
      box-shadow: 0 0 2px var(--white);
      border: none;
      border-radius: 0.2em;
      background: var(--black);
      padding: 1em;
      min-width: 60.5px;
      color: var(--white);
      font-weight: bold;

      &:hover {
        box-shadow: 0 0 2px var(--grey);
        color: var(--grey);
      }
    }

    p {
      flex-basis: calc(100% - 50px - 1.5em);
      padding-left: calc(50px + 1.5em);
      font-weight: bold;
    }

    img:first-child {
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;
    }

    img {
      cursor: pointer;
      padding: 0.5em;
    }
  }

  .hidden {
    top: -275px;
    transition: top 0.75s ease;
    padding-bottom: 0;
  }

  .game-field {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: background-pan 10s linear infinite;
    margin: 0 auto;
    box-shadow: 0 0 2px 1px var(--grey);
    background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
    background-size: 200%;
    width: 100%;
    height: calc(100vh - 102px);

    .row {
      display: flex;
      justify-content: space-evenly;

      .cell {
        flex-shrink: 0;
        cursor: pointer;
        margin: 1px;
        background: var(--black);
        width: 16px;
        height: 16px;

        &:hover {
          background: var(--black-transparent);
        }
      }

      .active,
      .active:hover {
        background: transparent;
      }
    }
  }
}

.loading {
  opacity: 0;
  background-color: var(--light-black);
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  .game-field {
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  .container {
    .controls {
      flex-direction: column;
      align-items: flex-start;

      button {
        margin: 1rem 2rem;
        width: 100px;

        &:hover {
          box-shadow: 0 0 2px var(--white);
          color: inherit;
        }
      }

      p {
        flex-basis: auto;
        margin: 1rem 2rem 0.5rem;
        padding: 0;
      }

      img {
        position: absolute;
        right: 0.8em;
        bottom: 0.8rem;
      }
    }
  }
}

@keyframes background-pan {
  from {
    background-position: 0 center;
  }

  to {
    background-position: -200% center;
  }
}
