.container {
  padding: 2rem;
  display: block;
  align-items: center;
  border-bottom: 2px solid var(--grey);

  .picture-container {
    filter: grayscale(75%);
    border-radius: 50%;
    margin-bottom: 2rem;

    .picture {
      border-radius: 50%;
      box-shadow: 0 0 4px var(--black);
    }
  }
}

@media screen and (min-width: 500px) {
  .container {
    display: flex;

    .picture-container {
      width: 25%;
      min-width: 150px;
      margin-bottom: 0;
    }

    h1 {
      font-size: clamp(1rem, 3vw, 1.5rem);
      padding-left: 2rem;
      width: 75%;
    }
  }
}
