.content {
  margin: 52px auto 0;
  border-right: 2px solid var(--grey);
  border-left: 2px solid var(--grey);
  width: 100%;
  max-width: min(1000px, calc(100% - 4rem));
  min-height: calc(100vh - 52px);
  display: grid;
  grid-template-rows: minmax(calc(100% - 4rem), 1fr) max-content;
  grid-auto-columns: 100%;
  grid-auto-rows: auto;
}
