.content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  margin: 3rem auto 0;
  border-right: 2px solid var(--grey);
  border-left: 2px solid var(--grey);
  max-width: min(1000px, calc(100% - 4rem));
  min-height: calc(100vh - 3rem);
}
