.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 2px solid var(--grey);
  background: var(--black);
  width: 100%;
  height: 3rem;
  text-align: center;
}

.toggle {
  display: none;
}

.toggle-label {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  cursor: pointer;
  margin-left: 1em;
  height: 100%;
  color: var(--white);

  span,
  span::before,
  span::after {
    display: block;
    position: relative;
    border-radius: 2px;
    background: var(--white);
    width: 2em;
    height: 2px;
  }

  span::before,
  span::after {
    position: absolute;
    content: '';
  }

  span::before {
    bottom: 8px;
  }

  span::after {
    top: 8px;
  }
}

.toggle-label-arrow {
  display: flex;
  position: absolute;
  right: calc(50% + 2em);
  bottom: -36px;
  left: calc(50% - 2em);
  justify-content: center;
  align-items: flex-end;
  transform: perspective(12px) rotateX(-8deg);
  cursor: pointer;
  border: 2px solid var(--grey);
  border-top: 1px solid var(--grey);
  background: var(--black);
  width: 4em;
  height: 2em;

  span {
    transform: rotate(315deg);
    border-top: 0.2em solid var(--white);
    border-right: 0.2em solid var(--white);
    width: 20px;
    height: 20px;
  }

  &:hover {
    span {
      border-color: var(--grey);
    }
  }
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  border-bottom: 2px solid var(--grey);
  background: var(--black);
  width: 100%;
  text-align: left;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    box-shadow: 0 -2px 0 var(--light-black);
  }

  a {
    display: block;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    margin-left: 0.5em;
    padding: 0.5em 0.3em;
    color: var(--white);
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.toggle:checked ~ nav {
  transform: scale(1, 1);

  a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}

@media screen and (min-width: 750px) {
  .toggle-label {
    display: none;
  }

  .toggle-label-arrow {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr auto min(850px, calc(100% - 160px)) 1fr;
    padding: 0 2rem 0 calc(2rem + 100vw - 100%); // fix for scrollbar jumps
  }

  .nav {
    all: unset;
    display: flex;
    grid-column: 3 / 4;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: flex;
    }

    li {
      margin-left: 2.5em;
      box-shadow: none;
    }

    a {
      display: inline;
      position: relative;
      opacity: 1;

      &:before {
        display: block;
        position: absolute;
        top: 0.05em;
        right: 0;
        left: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
        background: var(--grey);
        height: 2px;
        content: '';
      }

      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
}

@media (hover: hover) {
  .nav {
    a {
      &:hover {
        color: var(--grey);
      }
    }
  }
}

// TODO: insert comments
