.document {
  position: relative;

  button {
    z-index: 2;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
    border: none;
    background: var(--black-transparent);
    padding: 0.5em;
    width: 40px;
    height: 40px;
  }

  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  svg:first-of-type {
    border-bottom: 2px solid var(--grey);
  }
}

.fullscreen {
  position: absolute !important;
  top: 48px;
  left: 0;
  width: 100%;
  z-index: 2;

  svg {
    border: 2px solid var(--grey);

    &:first-of-type {
      border-top: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  min-height: 500px;
  color: var(--white);

  p {
    font-weight: bold;
  }

  a {
    color: inherit;
    text-decoration: underline var(--white);
  }

  .loader {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
      display: block;
      animation: lds-dual-ring 1.2s linear infinite;
      margin: 8px;
      border: 6px solid var(--white);
      border-color: var(--white) transparent var(--white) transparent;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      content: '';
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// source: https://loading.io/css/
