.picture-container {
  display: block;
  position: relative;
  margin: 5% 0;
  box-shadow: 2px 2px 8px var(--black);
  border-radius: 2px;
  width: 100%;
  line-height: 0;

  &:after {
    --font-calc: calc(14px + (24 - 14) * ((100vw - 320px) / (750 - 320)));
    display: block;
    position: absolute;
    bottom: -5px;
    background: var(--light-black);
    padding: 0.2em 0.4rem 0 0.4rem;
    width: 100%;
    height: auto;
    content: attr(data-description);
    color: var(--white);
    font-size: clamp(14px, var(--font-calc), 24px);
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }

  .picture {
    border-radius: 2px;
  }
}

@media screen and (min-width: 750px) {
  .picture-container {
    margin: 0 2%;
    width: 50%;

    &:first-child {
      margin: 0 2em 0 0;
    }

    &:last-child {
      margin: 0;
    }

    &:after {
      --font-calc: calc(14px + (20 - 14) * ((100vw - 750px) / (1000 - 750)));
      font-size: clamp(14px, var(--font-calc), 20px);
    }
  }
}

@media (hover: hover) {
  .picture-container {
    opacity: 98%;
    transition: opacity 0.4s ease-out;

    &:after {
      transform-origin: top;
      opacity: 0;
      transition: transform 0.4s, box-shadow 0.4s, opacity 0.4s;
    }

    div {
      overflow: visible !important;
    }

    &:hover {
      opacity: 100%;
      transition: opacity 0.4s ease-out;

      &:after {
        transform: scaleX(1.05) scaleY(1.25);
        transform-origin: top;
        opacity: 100%;
        transition: transform 0.4s, box-shadow 0.4s, opacity 0.4s;
        box-shadow: 2px 2px 8px var(--black);
        pointer-events: none;
      }
    }

    .picture {
      transition: transform 0.4s;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.4s;
      }
    }
  }
}
