.top-container {
  width: 100%;
  border-bottom: 2px solid var(--grey);
  padding: 2rem;
}

.picture-container {
  height: max-content;
  filter: grayscale(100%);
  transition: 0.2s filter;
  border-radius: 50%;
  border: 2px solid var(--grey);

  &:hover {
    filter: none;
    transition: 0.2s filter;
  }

  .picture {
    border-radius: 50%;
  }
}

.top-description {
  display: flex;
  padding: 4% 0;
  text-align: justify;
  hyphens: manual;
  font-size: min(calc(11px + 1vw), 24px);
  align-items: center;
}

@media screen and (min-width: 500px) {
  .top-container {
    display: flex;
    align-items: center;
  }

  .picture-container {
    width: 30%;
    min-width: 150px;
  }

  .top-description {
    padding: 4%;
    width: 70%;
  }
}