.picture-container {
  position: relative;
  filter: grayscale(100%);
  line-height: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 8px var(--black);
  transition: filter .4s ease-out;

  &:hover {
    filter: none;
    transition: filter .4s ease-out;
  }

  .picture {
    border-radius: 50%;
  }
}

.top-description {
  display: flex;
  margin-top: 2rem;
  text-align: justify;
  hyphens: manual;
  font-size: min(calc(11px + 1vw), 24px);
  align-items: center;
}

@media screen and (min-width: 500px) {
  .top-container {
    display: flex;
    align-items: center;
  }

  .picture-container {
    width: 30%;
    min-width: 150px;
  }

  .top-description {
    margin: 0 0 0 2rem;
    width: 70%;
  }
}