.content {
    width: 100%;
    max-width: min(1000px, calc(100% - 4rem));
    margin: 52px auto 0;
    padding-bottom: 50px;
    border-left: 2px solid var(--grey);
    border-right: 2px solid var(--grey);
}
