.content {
    width: 100%;
    min-height: calc(100vh - 52px);
    max-width: min(1000px, calc(100% - 4rem));
    margin: 52px auto 0;
    border-left: 2px solid var(--grey);
    border-right: 2px solid var(--grey);
}
