.container {
  background: var(--black);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 2px solid var(--grey);
  height: 52px;
}

.toggle {
  display: none;
}

.toggle-label {
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  span, span::before, span::after {
    display: block;
    background: var(--white);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  span::before, span::after {
    content: '';
    position: absolute;
  }

  span::before {
    bottom: 8px;
  }

  span::after {
    top: 8px;
  }
}

.toggle-label-arrow {
  position: absolute;
  bottom: -.2em;
  left: calc(50% - .6em);
  right: calc(50% + .6em);
  cursor: pointer;
  background: red;

  span {
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-right: .2em solid var(--white);
    border-top: .2em solid var(--white);
    transform: rotate(315deg);
    position: relative;
  }
}

.nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--black);
  width: 100%;
  border-bottom: 2px solid var(--grey);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    &:hover {
      color: var(--grey);
    }
  }
}

.toggle:checked ~ nav {
  transform: scale(1, 1);

  a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}

@media screen and (min-width: 750px) {
  .toggle-label {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr auto min(850px, calc(100% - 150px)) 1fr;
    padding: 0 2rem;
  }

  .nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: flex;
    }

    li {
      margin-left: 3em;
      margin-bottom: 0;
    }

    a {
      opacity: 1;
      position: relative;

      &:before {
        content: '';
        display: block;
        height: 2px;
        background: var(--grey);
        position: absolute;
        top: -0.15em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
      }

      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
}

// TODO: insert comments