.picture-container {
  display: block;
  position: relative;
  line-height:  0;
  margin: 5% 0;
  border-radius: 2px;
  box-shadow: 2px 2px 8px var(--black);

  &:first-child {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }

  &:after {
    content: attr(data-description);
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: .2em .4rem 0 .4rem;
    line-height: 1.6;
    background: var(--light-black);
    color: var(--white);
    --font-calc: calc(14px + (24 - 14) * ((100vw - 320px) / (750 - 320)));
    font-size: clamp(14px, var(--font-calc), 24px);
    text-transform: uppercase;
    text-align: center;
  }

  .picture {
    border-radius: 2px;
  }
}

@media screen and (min-width: 750px) {
  .picture-container {
    width: 100%;
    margin: 0 2%;

    &:after {
      --font-calc: calc(14px + (20 - 14) * ((100vw - 750px) / (1000 - 750)));
      font-size: clamp(14px, var(--font-calc), 20px);
    }
  }
}

@media ( hover: hover ) {
  .picture-container {
    opacity: 98%;
    transition: opacity .4s ease-out;

    &:after {
      opacity: 0;
      transform-origin: top;
      transition: transform .4s, box-shadow .4s, opacity .4s;
    }

    div {
      overflow: visible !important;
    }

    &:hover {
      transition: opacity .4s ease-out;
      opacity: 100%;

      &:after {
        transform: scaleX(1.06) scaleY(1.25);
        transform-origin: top;
        box-shadow: 2px 2px 8px var(--black);
        opacity: 100%;
        transition: transform .4s, box-shadow .4s, opacity .4s;
        pointer-events: none;
      }
    }

    .picture {
      transition: transform .4s;

      &:hover {
        transform: scale(1.05);
        transition: transform .4s;
      }
    }
  }
}
