.container-500 {
    width: 100%;
    border-bottom: 2px solid var(--grey);
    padding: 2rem;
}

.container-750 {
    width: 100%;
    border-bottom: 2px solid var(--grey);
    padding: 2rem;
}

@media screen and (min-width: 500px) {
    .container-500 {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 750px) {
    .container-750 {
        display: flex;
        align-items: center;
    }
}
